$light-grey: #F5F5F5;
$off-white: #FAFAFA;
$white: #FFFFFF;

$electric: #DC98BA;

$top-bar-height: 72px;

.hidden {
	display: none;
}

.active {
	background-color: $electric;
}

body {
	margin: 0;
	padding: 0;
	background-color: $off-white;
}


#tool-bar {
	position: fixed;
	left: 0;
	top: 0;
	height: $top-bar-height;
	width: 100%;
	background-color: $light-grey;
}

section {
	padding-top: $top-bar-height;
}

.dropzone {
	background-color: 200px;
	background-color: red;
}



.image-list {
	text-align: center;
}

.image-list>div {
	display: inline-block;
	text-align: center;
}

.image-item {
	display: inline-block;
	margin: 8px;
	padding: 24px;
	background-color: $light-grey;
}

.image {
	width: 256px;
	height: 256px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

