<!DOCTYPE HTML>
<head>
	{% load compress %}
	{% load static %}

	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'fusion_furniture/styles/style.scss' %}">
	{% endcompress %}

	<script type="text/javascript" src="{% static 'scripts/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/dropzone.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/ui.js' %}"></script>

	<title>{% block title %}Fusion Furniture{% endblock %}</title>

</head>
<body>
	<div id="tool-bar"></div>
</body>