<!DOCTYPE HTML>
<head>
	{% load compress %}
	{% load static %}

	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'fusion_furniture/styles/style.scss' %}">
	{% endcompress %}

	<script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
	<script type="text/javascript" src="{% static 'scripts/jquery-1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/dropzone.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/ui.js' %}"></script>

	<title>{% block title %}Fusion Furniture{% endblock %}</title>
</head>

<body>
	<div id="tool-bar">
		<div>
			<img class="logo" src="">
			<p id="steps">
			</p>
		</div>
	</div>

	<section id="furniture-types" class="hidden right">
		<div>
			<div id="table">
				<img src="{% static 'images/icon_table.png' %}">
				<h3>Table</h3>
			</div>	
		</div>
		<div>
			<div id="chair">
				<img src="{% static 'images/icon_chair.png' %}">
				<h3>Chair</h3>
			</div>
		</div>
	</section>

	<section id="image-list" class="hidden right"> 
		<form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
		<div>
			{% for URL in URLData %}
				<div class="image-item">
					<div class="image" style="background-image: url(./image/{{URL}});"></div>
				</div>
			{% endfor %}
		</div>
	</section>

	<section id="email" class="hidden right">
		<div>
			<div>
				<p id="edit-email" contentEditable="true">Email to...</p>
				<button id="select-email">Fuse!</button>
			</div>
		</div>
	</section>

	<section id="display-furniture" class="hidden right">
	</section>

</body>