/* line 5, /Users/samolive/Projects/2015-summer/fusion_furniture/fusion_furniture/static/fusion_furniture/styles/style.scss */
body {
  margin: 0;
  padding: 0; }

/* line 12, /Users/samolive/Projects/2015-summer/fusion_furniture/fusion_furniture/static/fusion_furniture/styles/style.scss */
#tool-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 48px;
  width: 100%;
  background-color: #F5F5F5; }
